.landing {
  
  .header {
    padding: 1.5em;
    .title {
      font-size: 4.2em;
      font-weight: 300;
      letter-spacing: 2.0px;
  
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .skills {
      margin-top: 0px;
      font-weight: 400;
    }
  }

  .menu {
    list-style: none;
    padding-left: 1.5em;
    a { text-decoration: none; }
    li { 
      font-size: 1.2em;
      margin-bottom:  0.5em;
    }
    
  }
 
}